@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');


html, body {
  height: 100%;
  background-color: #7472ff;
  text-align: center;
}

.header {
  margin-bottom: 5px;
  line-height: 48px;
  height: 8%;
  width: 100vw;
  display: inline-block;
  font-size: x-large;
}

.footer {
  bottom: 0;
  margin-top: 5px;
  height: 4%;
  width: 100vw;
  display: inline-block;
  font-size: large;
}

#root {
  height: 100%;
  width: 100%;
}

.dogs {
  height: 88%;
  width: 100%;
  background: 
    url(https://i.imgur.com/xSHS4dL.jpg) center left no-repeat,
    url(https://i.imgur.com/mcXucoW.jpg) center right no-repeat;
    background-size: 50%;
  /*
    url(./Studio_Project.jpeg) top left no-repeat;
    background-size: cover;
    */
}

.App {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.card {
  display: inline-block;
  width: 330px;
  height: 400px;
  border: 2px solid black;
  text-align: center;
  margin: 0 5px 5px 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.card:hover {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

.buttons {
  width: 400px;
  text-align: center;
  margin: auto;
}

button {
  text-align: center;
  height: 40px;
  background-color: #ffbb72;
  border-radius: 10px;
  border: 3px solid #6a67a5;
  font-size: large;
  font-family: 'Sansita Swashed', cursive;
  margin-top: 20px;;
}

button:hover {
  transform: scaleY(1.05);
  background-color: #fbbb72;
}

button:active {
  transform: scaleY(0.95);
  color: #494848;
}

.info {
  width: 180px;
  background: #ffffffc4;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}